<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <application android:icon="@drawable/ic_dvd" android:roundIcon="@drawable/ic_dvd" android:theme="@style/Theme.MediaDownloader" android:label="Media Downloader" android:supportsPictureInPicture="true" android:usesCleartextTraffic="false" android:allowBackup="true" android:supportsRtl="true">
        <service android:name=".DownloadService" android:foregroundServiceType="dataSync" android:exported="false" />
        <service android:name=".ConversionService" android:foregroundServiceType="dataSync" android:exported="false" />
        <service android:name=".PlaybackService" android:foregroundServiceType="mediaPlayback" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
        <activity android:name=".LibraryActivity" android:exported="false" />
        <activity android:name=".PlaylistActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".PlayerActivity" android:screenOrientation="sensor" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/><category android:name="android.intent.category.DEFAULT"/><data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="http"/><data android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
